#particles-js {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fullBody {
  background-image: radial-gradient(#212529, #212529);
}
/* Navbar */
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-size: 1.2rem;
  margin-right: 20px;
  margin-left: 20px;
}
.navbar-brand {
  margin-left: 2%;
  font-size: 30px !important;
  opacity: 60%;
}
.home-page {
  color: #fff;
  text-decoration: none;
}
.home-page:hover {
  color: white;
  opacity: 70%;
}
.title {
  color: #fff;
  margin-left: 20px;
  padding-top: 20px;
}
/* Art Designs */

#cinematics-designs {
  text-align: center;
}
.cinematics {
  color: #fff;
  opacity: 60%;
  text-transform: uppercase;
  border: 1px solid #ddbea9;
  border-radius: 10px;
  padding: 5px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
/* Videos */

.hr {
  margin-top: 30px;
  color: #fff;
  border: 1px solid;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3%;
  opacity: 70%;
}

.wall-and-eve-title1 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  /* margin-bottom: -15px; */
}
.cinematics-vid1 {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 3%;
  border: 3px solid #8a817c;
  position: relative;
}

.cinematics-vid {
  width: 70%;
  margin-bottom: 20px;
  /* margin-top: 3%; */
  border: 3px solid #8a817c;
  position: relative;
}
.beatboy-vid {
  width: 17%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
  margin-left: 1%;
}
.ar-vid {
  width: 52%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
  margin-left: 15%;
}
.ar {
  display: flex;
}
.ar-catalouge-title {
  display: flex;
  margin-left: 34%;
}
.beatboy-title {
  padding-left: 37%;
}
.archvis-images {
  display: flex;
}
.archvis {
  width: 34.8%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
}
.delta-unit {
  width: 36.5%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
}
.glee {
  width: 33%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
}
.eminents {
  width: 50%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
}
.mars-marine {
  width: 19.5%;
  margin-bottom: 20px;
  border: 3px solid #8a817c;
  position: relative;
}
.hr1 {
  margin-top: 20px;
  color: #fff;
  border: 2px solid;
  width: 40%;
  margin-left: 30%;
}
.hr2 {
  color: #fff;
  border: 1.5px solid;
  width: 32%;
  margin-left: 34%;
  margin-top: -5px;
}
.hr3 {
  color: #fff;
  border: 1px solid;
  width: 26%;
  margin-left: 37%;
  margin-top: -5px;
}

.replit{
  width: 33px;
}
.replit:hover{
  opacity: 15%;
}

.title-logo {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  position: relative;
  padding-bottom: 20px;
  opacity: 70%;
}
.logo {
  color: inherit;
  color: #fff;
}
.logo:hover {
  color: #2c394b !important;
}
